################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KatMossPortfolio/.vs/KatMossPortfolio.slnx/FileContentIndex
/KatMossPortfolio/KatMossPortfolio/obj/Debug/net10.0
/KatMossPortfolio/KatMossPortfolio/obj
/Portfolio/.vs
/.vs/Kat-Moss13.github.io.slnx
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
